/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
  background-image: url(../images/fond/global.png);
  background-color: black;
  font-size: 1rem;
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

a img {
  width: 100%;
  margin-bottom: 10px;
}

a:hover {
  color: darkorange;
}

header,
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

div.boite {
  width: 800px;
  padding: 48px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

header a {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  /* illegal move */
  /* margin-left: -80px; */
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.25rem;
}

h2 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}
h2 span {
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625rem;
  text-transform: lowercase;
}

div.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.images a {
  width: 200px;
}

a[hreflang="ja"]::after {
  content: " [en japonais]";
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/* Header */
header.div {
  display: flex;
  justify-content: center;
}
/* Section Générale */

/* Section sports */
section.sports {
  background-image: url(../images/fond/bicycles.png);
}

/* Section web */
section.web {
  background-image: url(../images/fond/science.png);
}

section.web img {
  width: 50%;
}

section.web .images a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.lien_float {
  background-color: darkred;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.lien_float a {
  margin: 0;
}

.lien_float a:hover {
  color: white;
  text-decoration: underline;
}

/* Section photographie */

section.photos {
  background: url(../images/fond/fond.jpg) no-repeat center/cover;
}

section.photos img {
  width: 30%;
}

section.photos a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.photos .images {
  display: flex;
  flex-direction: column;
}

/* Bouton retour */

/* display: flex;

    justify-content: center;
    align-items: center; */
